body {
    background-color: #00B7FF !important;
}

.loginBlock {
    position: absolute;
    z-index: 15;
    width: 300px;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: red;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-style {
    margin-bottom: 15px;
}

.white {
    color: white;
}
